body{
    
    font-family: 'Ubuntu', sans-serif;

}

/* Header */
header{
    padding: 1rem 0;
}
.bg-light{
    background-color: #fff !important;
}
.nav-link{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #626262 !important;
}
.navbar-expand-sm .navbar-nav .nav-link{
    padding: 0 3rem 0 0;
}


/* START HOME */
.padding-home{
    float: left;
    width: 100%;
    padding: 0 50px;
}
.bg-home{
    width: 100%;
    float: left;
    background-image: url(../images/minimo_07.jpg);
    height: 500px;
    background-size: 100% 100%;
}

/* END HOME */
.post-text{
    float: left;
    width: 100%;
    padding: 50px 0;
}
.topheading{
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
}
h2{
    font-family: 'Playfair Display';
    color: #626262;
}
.paragraph-text{
    color: #626262;
    font-size: 14px;
    padding-bottom: 30px;
    font-family: 'Playfair Display';
}

/* POST */

.post{
    float: left;
    width: 100%;
}


/* Newsletter */

.newsletter{
    float: left;
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px 0;
}
.newsletter-form{
    background-color: #f0f0f0;
    border: 0;
    border-bottom: 1px solid #626262;
    border-radius: 0; 
    font-family: 'Playfair Display';
    color: #626262;
}
.btn-send{
    border: 0;
    border-bottom: 1px solid #626262;
    border-radius: 0;
    font-family: 'Playfair Display';
    cursor: pointer;
    color: #626262;
}



/* footer */

footer{
    float: left;
    width: 100%;
    padding: 0 50px;
    background-color: #f0f0f0;
}
.footer-left{
    padding: 0;
    margin: 0;
}
.footer-left li{
    display: inline-block;
    list-style: none;
    padding: 20px 10px;
    font-family: 'Playfair Display';
    color: #000;
}
.footer-right{
    float: right;
    padding: 0;
    margin: 0;
}
.footer-right li{
    display: inline-block;
    list-style: none;
    padding: 20px 10px;
    font-family: 'Playfair Display'; 
    colo
}
.footer-right li a{
    color:#626262;
}